application/Data/Hooah.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT schedule (weekdays)>
<!ELEMENT weekdays (day+)>

<!ELEMENT day (slot+)>
<!ATTLIST day
    which (mon|tue|wed|thu|fri) #REQUIRED
  >

<!ELEMENT slot (instructor,room)>
<!ATTLIST slot
    time (0830|0930|1030|1130|1230|1330|1430|1530|1630) #REQUIRED
    class (ACIT4620|ACIT4650|ACIT4660|ACIT4770|ACIT4850|ACIT4910) #REQUIRED
  >

<!ELEMENT instructor (#PCDATA)>

<!ELEMENT room (#PCDATA)>